streamlit
langchain-core
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
PyMuPDF
faiss-cpu
sentence-transformers
python-dotenv
pypdf 
sentence-transformers
huggingface-hub